<!DOCTYPE html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>CMPT 276 Assignment 2</title>

  <link rel="stylesheet" href="./stylesheets/a2styles.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" >

</head>
<body>
    <header>
            <div class="header-title ">
              CMPT 276 Assignment 2 
            </div>
    </header>
    <nav class="navbar sticky-top navbar-light nav-color">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <a class="nav-link" href="/a2.html">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/editData" tabindex="-1" aria-disabled="true">Edit Database</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/viewTeam" tabindex="-1" aria-disabled="true">View Our Team!</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/database" tabindex="-1" aria-disabled="true">View Database</a>
            </li>
        </ul>
    </nav>
    <div class="content">
        <h1>Add User</h1>
        <form class="" action= "/addPerson" method="post">
            <input type = "number" name = "id" value = "" placeholder = "User ID" min = "0" required> 
            <input type = "number" step = "1" name ="age" placeholder = "Age" min = "0" required> <br> 
            <input type = "text" name = "fName" value = "" placeholder = "First Name" required> 
            <input type = "text" name = "lName" value = "" placeholder = "Last Name" required> <br>
            <input type = "number" step = "1" name ="size" placeholder = "Size (lb)" min = "0" max="300" required> 
            <input type = "number" step = "1" name ="height" placeholder = "Height (m)" min = "0" max="300" required> <br> 
            <select name = "colour" required>
                <option value="" disabled selected>Favourite Colour</option>
                <option value ="red">Red</option>
                <option value ="blue">Blue</option>
                <option value ="green">Green</option>
                <option value ="yellow">Yellow</option>
                <option value ="purple">Purple</option>
                <option value ="orange">Orange</option>
            </select>
            
            <select name = "pet" required >
                <option value="" disabled selected>Dog or Cat Person</option>
                <option value ="dog">Dog</option>
                <option value ="cat">Cat</option>
            </select>
            <br>
            <select name = "type" required >
                <option value="" disabled selected>Select Type</option>
                <option value ="manager">Manager</option>
                <option value ="employee">Employee</option>
                <option value ="intern">Intern</option>
            </select>
            <br>
            <input type = "submit" name = "sub" value= "Add-User">
        </form>
    </div>
    <div class="content">
        <h1>Edit User</h1>
        <form class="" action= "/updatePerson" method="post">
            <select name = "id" required>
                <option value="" disabled selected>Person's ID</option>
                <% rows.forEach(function(r){%>
                <option value= "<%= r.uid %>"> <%= r.uid %></option>
                <%});%>
            </select><br>
            <input type = "text" name = "fName" value = "" placeholder = "First Name"> 
            <input type = "text" name = "lName" value = "" placeholder = "Last Name"> <br>
            <input type = "number" step = "1" name ="age" placeholder = "Age" min = "0"> 
            <input type = "number" step = "1" name ="size" placeholder = "Size (lb)" min = "0" max="300" > <br> 
            <input type = "number" step = "1" name ="height" placeholder = "Height (m)" min = "0" max="300"> 
            <select name = "colour">
                <option value="" disabled selected>Favourite Colour</option>
                <option value ="red">Red</option>
                <option value ="blue">Blue</option>
                <option value ="green">Green</option>
                <option value ="yellow">Yellow</option>
                <option value ="purple">Purple</option>
                <option value ="orange">Orange</option>
            </select>
            <br>
            <select name = "pet" >
                <option value="" selected>Dog or Cat Person</option>
                <option value ="dog">Dog</option>
                <option value ="cat">Cat</option>
            </select>

            <select name = "type">
                <option value="" selected>Select Type</option>
                <option value ="manager">Manager</option>
                <option value ="employee">Employee</option>
                <option value ="intern">Intern</option>
            </select>
            <br>
            <input type = "submit" name = "sub" value= "Edit-User">
        </form>
    </div>
    <div class="content">
        <h1>Delete User</h1>
        <form class="" action= "/deletePerson" method="post">
            <select name = "idToDelete" required>
                <option value="" disabled selected>Person's ID</option>
                <% rows.forEach(function(r){%>
                <option value= "<%= r.uid %>"><%=r.uid%>: <%=r.fname%><%=r.lname%></option>
                <%});%>
            </select><br>
            <input type = "submit" name = "sub" value= "Delete-User">
        </form>
    </div>



</body>
</html>